/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END RESET.CSS*/

h1{
    font-family: 'Trajan Pro';
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}

header{
	height: 140px;
	background-color: #ebecee;
}

header .logo{
	margin-left: 3.5%;
}

header .logo img{
	margin-top: 70px;
}

header .menu{
	margin-left: 62%;
	position: relative;
	top: -20px;
}

header .menu ul{
	display: flex;
	justify-content: space-between;
	width: 340px;
}

header .menu ul li a{
	text-decoration: none;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #333333;
}

header .btn{
	margin-left: 3%;
	position: relative;
	top: -20px;
}

header .btn a{
	text-decoration: none;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #333333;
	padding: 25px 50px;
	background-color: #ffffff;
	border-radius: 35px;
}

header .logo, header .menu, header .btn{
	display: inline-block;
}

.container2{
	background-image: url("./img/background_top.png");
	height: calc(100vh - 140px);
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-color: #ebecee;
	background-size: contain;
	display: flex;	
	align-items: center;
}

.container2 .heading{
	height: 30vh;
	margin-left: 25vh;
	text-align: center;
	width: 34%;
}

.container2 .heading h1{
	font-size: 60px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #222222;
	margin-bottom: 85px ;
}

.container2 .heading a{
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #333333;
	text-decoration: none;
	background-color: #ffffff;
	padding: 25px 95px;
	border-radius: 35px;
}

.container2 .heading a:hover, header .btn a:hover, .container7 .columns a:hover,.container8 .btnf:hover{
	background-color: #999999;
}

.container3 h2{
	margin-top: 95px;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	text-align: center;
	color: #141311;
	margin-bottom: 25px;
}

.center{
	max-width: 1210px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.container3 .text{
	font-weight: 300;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	color: #333333;
	text-align: center;
	line-height: 24px;
	margin-bottom: 35px;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.container3 .cards{
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;
}

.container3 .cards .item{
	max-width: 380px;
}

.container3 .cards .item img{
	width: 100%;
	margin-bottom: 30px;
}

.container3 .cards span{
	margin-left: 30px;
	margin-right: 30px;
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #333333;
}

.container3 .cards .text2{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 13px;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: #333333;
}



.container4{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /*repeat(3, 1fr)*/
	grid-template-rows: 1fr 1fr 1fr;
background-color: #f8f8f8;
}

.container4 div:nth-child(5){
	background-color: #ffffff;
}

.container4 .item{
	margin: auto;
}

.container4 .item span, .container4 .item6 span, .container4 .item7 span{
	color: #141311;
	font-family: 'Ubuntu',sans-serif;
	font-size: 30px;
	font-weight: 300;
	display: block;
	width: 50%;
	margin-left: 20%;
}

.container4 .item i, .container4 .item6 i, .container4 .item7 i{
	display: block;
	background-color: #000000;
	width: 35px;
	height: 2px;
	margin-left: 20%;
	margin-top: 12px
}

.container4 .item p, .container4 .item6 p, .container4 .item7 p{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #141311;
	margin-top: 27px;
	margin-left: 20%;
	width: 60%;
}

.container4 .item6{
	background-image: url("./img/grid-img3.png");
	background-repeat: no-repeat;
	background-color: #323232;
	grid-column: 3/4;
	grid-row: 2/4;
	background-size: contain;
}

.container4 .item6 span, .container4 .item6 p{
	color: #ffffff;
}

.container4 .item6 span{
	margin-top: 80%;
}

.container4 .item6 i{
	background-color: #ffffff;
}

.container4 .item7{
	background-image: url("./img/grid-img4.png");
	background-repeat: no-repeat;
	grid-column: 1/3;
	grid-row: 3/4;
	background-size: contain;
}

.container4 .item7 p{
	width: 30%;
	margin-left: 10%;
}

.container4 .item7 span, .container4 .item7 i{
	margin-left: 10%;
}

.container4 .item7 span{
	margin-top: 10%;
}

.container4 img{
	max-width: 100%;
}

.container5 .left_content img{
	max-width: 100%;
}

.container5 .right_content{
	font-family: 'Ubuntu', sans-serif;
	margin-left: 60px;
}

.container5{
	margin-top: 180px;
	margin-bottom: 215px;
}

.container5 .row{
	margin-left: -30px;
}

.container5 h3{
	font-size: 48px;
	color: #000000;
	font-weight: 300;
}

.container5 .right_content .txt_right{
	font-size: 24px;
	color: #333333;
	font-weight: 300;
	margin-top: 45px;
}

.container5 .right_content svg{
	font-size: 56px;
	color: #d3b051;
}

.container5 .right_content span{
	font-weight: 400;
	font-size: 22;
	color: #222222;
}

.container5 .right_content p{
	font-size: 14px;
	color: #4e4e4e;
	margin-bottom: 90px;
	font-weight: 300;
}

.container5 a{
	text-decoration: none;
	font-size: 14px;
	color: #333333;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #e5e1e1;
	padding: 25px 95px;
	border-radius: 40px;
}

.container5 a:hover, .container12 a:hover{
	background-color: #4e4e4e;
	color: #ffffff;
}

.container7{
	background-image: url("./img/block7.png");
	background-repeat: no-repeat;
	max-height: 1090px;
	text-align: center;
	padding-top: 245px;
	padding-bottom: 315px;
}

.container7 h2{
	font-size: 48px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 110px;
}

.container7 .columns{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container7 .columns div{
	padding: 0 90px;

}

.container7 .columns div:nth-child(2){
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
}

.container7 .columns .price i{
	color: #c89d28;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 30px;	
	vertical-align: 35px;
}

.container7 .columns .price{
	color: #c89d28;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 80px;
	margin-bottom: 35px;
}

.container7 .columns span{
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

.container7 .columns .text3{
	color: #999999;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	margin-top: 40px;
	margin-bottom: 95px;
}

.container7 .columns a{
	text-decoration: none;
	color: #333333;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	background-color: #ffffff;
}

.container7 .columns div:nth-child(1) a{
	padding: 25px 85px;
	border-radius: 35px;
}

.container7 .columns div:nth-child(2) a, .container7 .columns div:nth-child(3) a{
	padding: 25px 50px;
	border-radius: 35px;
}

.container8{
	background-color: #e8e9ea;
	padding-top: 140px;
	padding-bottom: 115px;
	margin-bottom: 200px;
}

.container8 h2{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 48px;
	color: #000000;
	text-align: center;
	margin-bottom: 70px;
}

.container8 .grid{	
	display: grid;
	grid-template-columns: 2fr 1fr 1fr; /*repeat(3, 1fr)*/
	grid-template-rows: 1fr 1fr;
	height: 600px;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.container8 .grid .itemg1{
	background-image: url("./img/grid2-img1.png");
	background-repeat: no-repeat;
	grid-column: 1/2;
	grid-row: 1/3;
	background-size: cover;
	height: 100%;
}

.container8 .grid .itemg1 a, .container8 .grid .itemg2 a, .container8 .grid .itemg3 .btns a, .container8 .grid .itemg4 a, .container8 .grid .itemg5 a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 10px;
	background-color: #8d7431;
	color: #ffffff;
	padding: 10px 17px;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 10px;
	width: max-content;
	display: block;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.container8 .grid .itemg1 a:hover, .container8 .grid .itemg2 a:hover, .container8 .grid .itemg3 .btns a:hover, .container8 .grid .itemg4 a:hover, .container8 .grid .itemg5 a:hover{
	background-color: black;
}

.container8 .grid .itemg1 span{
	color: #ffffff;
	margin-top: 37%;
	text-align: center;
	width: 75%;
	margin-left: 10%;
	display: block;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	line-height: 1.3;
}

.container8 .grid .itemg1 p{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 11px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	margin-top: 30px;
	letter-spacing: 2px;
}

.container8 .grid .itemg1 p em{
	text-decoration: none;
	color: #c89d28;
}

.container8 .grid .itemg2{
	background-image: url("./img/grid2-img2.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.container8 .grid .itemg2 p, .container8 .grid .itemg3 p, .container8 .grid .itemg4 p, .container8 .grid .itemg5 p{
	display: block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	margin-top: 70%;
	width: 93%;
}

.container8 .grid .itemg3{
	background-image: url("./img/grid2-img3.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.container8 .grid .itemg3 .btns{
	display: flex;
}

.container8 .grid .itemg4{
	background-image: url("./img/grid2-img4.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.container8 .grid .itemg5{
	background-image: url("./img/grid2-img5.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.container8 .btnf{
	text-decoration: none;
	display: block;
	width: max-content;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #333333;
	padding: 25px 90px;
	border-radius: 40px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 100px;
}

.container9 h3{
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #000000;
	line-height: 2;
}

.container9 .txt, .container9 .description3 p, .container9 .description5 p{
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #000000;
	line-height: 24px;
	margin-bottom: 2em;
}

.container9 .spans{
	font-weight: 500;
}

.container9 .description2 svg, .container9 .description4 svg{
	font-size: 39px;
	color: #caa02f;
	margin-left: 30px;
	margin-bottom: 100px;
}

.container9 .description3 span, .container9 .description5 span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #000000;
	position: relative;
	top: -10px;
}

@media(max-width:1200px){
	.container9 .description3 span, .container9 .description5 span{
		font-size: 20px;
	}
	.container9 .description2 svg, .container9 .description4 svg{
		margin-left: 20px;
		margin-bottom: 100px;
	}
}

@media(max-width:992px){
	.container9 .description2 svg, .container9 .description4 svg{
		margin-left: 5px;
		margin-bottom: 105px;
	}
	.container9 .description3 p, .container9 .description5 p{
		font-size: 12px;
	}
	.container5 .right_content{
		margin-left: 30px;
	}
}

@media(max-width:768px){
	.container9 .description1{
		margin-bottom: 30px;
	}
	.container9 .description2 svg, .container9 .description4 svg{
		margin-left: 0;
		margin-bottom: 95px;
	}
}

@media(max-width:576px){
	.container9 .description2 svg, .container9 .description4 svg{
		margin-bottom: 60px;
	}
	.container5 .right_content{
		margin-left: 15px;
	}
}

.container10{
	background-image: url("./img/block7.png");
	background-repeat: no-repeat;
	max-height: 1090px;
	text-align: center;
	padding-top: 250px;
	padding-bottom: 350px;
}

.container10 .facts h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 150px;
}

.container10 .descr1 p, .container10 .descr2 p,.container10 .descr3 p ,.container10 .descr4 p{
	font-family: 'Lato', sans-serif;
	font-size: 80px;
	font-weight: 300;
	color: #c89d28;
	margin-bottom: 70px;
}

.container10 .descr1 span, .container10 .descr2 span, .container10 .descr3 span, .container10 .descr4 span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
}

.container10 .descr5 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #999999;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 115px;
	line-height: 1.2;
}

.container11{
	text-align: center;
}

.container11 .descr1 h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #333333;
	margin-top: 150px;
	margin-bottom: 100px;
}

.container11 .descr2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container11 .descr3{
	padding: 0 19%;
}

.container11 .descr3 .text1{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
	color: #333333;
	margin-top: 140px;
	margin-bottom: 50px;
}

.container11 .descr4{
	text-align: left;
	margin-bottom: 60px;
}

.container11 .descr4 span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #333333;
	text-transform: uppercase;
	line-height: 24px;
}

.container11 .descr4 .text2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #999999;
}

.container11 .descr5{
	margin-bottom: 160px;
}

.container11 .descr5 a{
	text-decoration: none;
	padding: 0 8px;
}

.container12{
	background-image: url("./img/block12.png");
	background-repeat: no-repeat;
	max-height: 1090px;
	text-align: center;
	padding-top: 110px;
	padding-bottom: 150px;
}

.container12 h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 30px;
}

.container12 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: #cccccc;
	line-height: 27px;
	margin-bottom: 55px;
}

.container12 a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	border-radius: 30px;
	background-color: #ffffff;
	padding: 25px 80px;
}

.container13{
	color: #ffffff;
	background-color: #0d0d0d;
	padding-top: 175px;
	padding-bottom: 130px;
}

.container13 span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	text-transform: uppercase;
}

.container13 .descr1{
	padding-right: 105px;
}

.container13 .descr1 .text1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	color: #666666;
	margin-top: 30px;
	margin-bottom: 40px;
}

.container13 .descr1 .icons svg{
	font-size: 12px;
	color: #666666;
	margin-right: 50px;
}

.container13 .descr2, .container13 .descr3, .container13 .descr4{
	padding-left: 50px;
}

.container13 .text2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
	color: #666666;
	margin-top: 30px;
	margin-bottom: 80px;
}

.container13 i{
	border: 1px solid #1d1d1d;
	width: 1200px;
	margin-bottom: 60px;
}

.container13 .descr5 .text3{
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #999999;
}

.container13 .descr5 .text3 .yellow{
	color: #8d7431;
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}